


{% extends 'base/base.html' %}

<!-- title start -->
{% block title %}
  Course
{% endblock %}
<!-- title end -->

<!-- css link start -->
{% block link %}
  <link rel="stylesheet" href="../../static/css/course/course.css">
{% endblock %}
<!-- css link end -->

<!-- main start -->
{% block main %}
  <main id="course-container">
    <div class="w1200">
      <ul class="course-list">

        <li class="course-item">
          <a href="https://www.shiguangkey.com/course/2432">
            <img class="course-img" src="../../static/images/python_advanced.jpg"
                 alt="潭州英语">
            <div class="course-content">
              <p class="course-info">python 全栈开发</p>
              <p class="course-author">不动(python金牌讲师)</p>
              <p class="course-price free">免费</p>
            </div>
          </a>
        </li>

        <li class="course-item">
          <a href="https://www.shiguangkey.com/course/2432">
            <img class="course-img" src="../../static/images/python_web.jpg"
                 alt="潭州英语">
            <div class="course-content">
              <p class="course-info">django 项目</p>
              <p class="course-author">Gollum(python讲师)</p>
              <p class="course-price free">免费</p>
            </div>
          </a>
        </li>

      </ul>
    </div>
  </main>
{% endblock %}
<!-- main end -->

<!-- side start -->
{% block side_unrecommend %}
{% endblock %}
<!-- side end -->

<!-- script start -->
{% block script_url %}
  <script src="../../static/js/common.js"></script>
{% endblock %}
<!-- script end -->
